body{
    background-color: #F3F1FF;
}

.navbar img{
    width: 40px;
}

.navbar-nav{
    margin-left:600px;
    
}

.brand-logo{
    margin-left: 180px;
}

.player img{
    width: 56px;
}

.player{
    padding-left: 20px;
    font-weight: 700;
}

main{
    max-width: 870px;
}

.blog img{
        width: 177px;
}

.blog{
    max-width: 870px;
    margin-bottom: 10px;
}

.blog h3{
    margin-left: 15px;
}

.course{
    max-width: 870px;
    padding-bottom: 25px;
}

.red{
    color: pink;
}
.time{
    margin-left: 120px;
    background-color: pink;
    padding: 5px 16px;
    border-radius: 10px;
    font-weight: 800;
}